.dashboard-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 60px;
  padding-left: 60px;
  width: 920px;
  flex-wrap: wrap;
}

.dashboard-content__schedule {
  padding: 80px;
  background-color: #fff;
}

.dashboard-content__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'source_sans_prosemibold';
  font-size: 32.5px;
  line-height: 37.5px;
}